/* color 
1. #e6ccff rgb(230,204,255) 

2. #ccff99 rgb(204,255,153)

*/

body {
    background-color : rgba(230,204,255,0.3);
}

.jumbotron {
    width : 100%;
    text-align :center;
    cursor : pointer;
    background-color : #e6ccff;
    padding-bottom : 3%;
}

.btn-custom-a {
    background-color : #ccff99;
    font-weight : bold;
    color : black;
}



h1, h2, h3, h4 {
    font-family: 'Lobster', cursive;
}

.float-right{
	float: right;
    color: #828282;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}


.post {
    margin-bottom: 70px;
}

.post h1 a, .post h1 a:visited {
    color: #000000;
}


.post-textarea{
    display : inline-block ;
    word-break : break-all;
}

.django-ckeditor-widget{
    width : 100%;
}
