{% load staticfiles %}
<html>
<head>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
<link href="http://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="{% static 'css/blog.css' %}">
</head>
<body>
    <div class="page-header">
	{% if user.is_authenticated %}
        <a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
        {% else %}
        <a href="{% url 'django.contrib.auth.views.login' %}" class="top-menu"><span class="glyphicon glyphicon-lock"></span></a>
        {% endif %}
        <h1>
		<a href="{% url 'blog.views.post_list' %}">
			<span>OHDA NOTE</span>
			<img src="http://cdn2.jjal.download/files/1_6bbf0429e9a2059bd3670446c3f2822fd9fadbb2.gif">
		</a>
	</h1>
    </div>
    <div class="content container-fluid">
        <div class="row">
            <div class="col-md-8 col-xs-12">
            {% block content %}
            {% endblock %}
            </div>
        </div>
    </div>
</body>
</html>
